/* .pieChartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .pieChartContainer canvas {
    max-width: 200px;
    max-height: 200px;
  }
   */

   /* Pie Chart Legend */
.recharts-legend-item {
    font-size: 0.9rem;
  }
  