/* .card {
   background-color: #9b9b9b;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 45px 20px;
   border-radius: 15px;
   box-shadow: 0 4px rgba(0,0,0,0.25);
}

.cardTitle{
    color: #ffffff;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 12px;
}
.cardTitle span{
    font-weight: 700;
}
.success{
    color: #9DFF5B;
}
.failure{
    color: #F4BB4A;
}
@media(max-width:767px){
    .card{
        padding: 35px 10px;
    }
    .cardTitle{
        font-size: 24px;
    }
} */

/* Card */
.card {
    background-color: #9b9b9b;
    height: 180px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 20px;    
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* flex: 1; */
    margin: 0 25px;
  }
  
  /* Card Title */
  .title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff;
    text-align: left;
  }
  
  /* Balance/Expense Color */
  .success {
    color: green;
    font-size: 1.2rem; /* Slightly larger value */
  text-align: left;
  }
  
  .failure {
    color: red;
    font-size: 1.2rem;
  text-align: left;
  }

