.container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #2d2d2d;
    color: #fff;

  }
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
  
  /* Card Wrapper */
  .cardWrap {
    display: flex;
    justify-content: space-around;    
    margin-bottom: 30px;
    padding: 50px 55px;
    width: 100%;
    background-color:#626262;
    border-radius: 15px;
  }
  .cardWidth{
    width: 500px;
  }

  
 
  /* Transaction Wrapper */
  .transactionWrap {
    display: flex;
    justify-content: space-between;
  }

  